<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MakyDG" connectionString="Server=138.59.135.48;DataBase=MakyDG;Persist Security Info=True;User ID=AdminGlassWin;Password=GlassWinADM0192" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>